@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

body,
button,
input,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

select {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
  width: 210px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h1 {
  font-family: "Cherry Bomb One", serif;
  letter-spacing: 2px;
  font-size: 45px;
  font-weight: normal;
  text-align: center;
  margin: 20px;
}

button {
  background-color: teal;
  color: whitesmoke;
  margin: 1rem 0 0 0;
}

.message {
  color: red;
  font-size: 11px;
  font-weight: bold;
  margin: 1px 0 1rem 0;
}

.choices {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.choices_header {
  margin: 0;
}

.choices_paints {
  background-color: lightgoldenrodyellow;
  border: 1px dashed teal;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem auto;
  font-size: smaller;
  flex-basis: 35%;
}

.choices_interiors {
  background-color: lightgoldenrodyellow;
  border: 1px dashed teal;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem auto;
  font-size: smaller;
  flex-basis: 35%;
}

.choices_wheels {
  background-color: lightgoldenrodyellow;
  border: 1px dashed teal;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem auto;
  font-size: smaller;
  flex-basis: 35%;
}

.choices_technologies {
  background-color: lightgoldenrodyellow;
  border: 1px dashed teal;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0.5rem auto;
  font-size: smaller;
  flex-basis: 35%;
}

.header_orders {
  text-align: center;
  margin-top: 1.5em;
}

.custom_order {
  background-color: rgb(211, 240, 250);
  border: 1px dashed teal;
  margin: 10px auto;
  padding: 5px;
  width: 65%;
}
